:root {
  --dark: #13293d;
  --light: #fff;
  --navlink-color: #b9c6ae;
  --light-blue: lightblue;
  --h1: teal;
  --header-color: rgb(46, 49, 53);
  --background-color: #14191f;
  --light-buttons: rgb(113, 117, 122);
  --font1:'Merriweather', serif;
  --font2:'Roboto', sans-serif;
  --font3:'Open Sans', sans-serif;

}

body {
  background: var(--background-color);
}

nav {
  background: var(--header-color);
}

nav a {
  font-family: var(--font1);
}

#nav-btn1, #nav-btn2, #nav-btn3 {
  background: var(--light-buttons) !important;
  font-family: var(--font2);
}

#nav-btn1:hover, #nav-btn2:hover, #nav-btn3:hover {
  background: var(--bs-success) !important;
  border: 5px var(--bs-success) solid !important;
  color: white !important;
}

.hoverHighlight:hover {
  background: var(--bs-success) !important;
}

.clickHighlight:active {
  background: var(--bs-success) !important;
  border: var(--bs-success) 1px solid !important;
}

.invisibleBorder {
  border: 5px var(--light-buttons) solid !important;
}

#search {
  font-family: var(--font3);
}

#currencyInputs {
  font-family: var(--font3);
}

.default-card {
  background: var(--light-buttons);
  font-family: var(--font2);
}

#welcome {
  background-color: var(--header-color);
  color: white;
  font-family: var(--font1);
}

#chart {
  height: 35em;
  border: 3px var(--header-color) solid;
  border-radius: 1rem;
}

#time-btns {
  font-family: var(--font3);
}

 a {
  font-family: var(--font3);
}


@keyframes stockTicker {
  0% { transform: translate3d(110%, 0, 0) }
  100% { transform: translate3d(-135%, 0, 0) }
}

#scrollWrap {
  overflow: hidden;
  background-color: var(--background-color);
  height: 3rem;
}

#scrolling {
  animation: stockTicker linear 60s infinite;
}

.continuousStock {
  width: 10rem;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  button.navbar-toggler {
    position: absolute;
    top: 11px;
    right: 5px;
  }
  nav.navbar {
    justify-content: center !important;
  }
  a:link {
    text-decoration: none;
    color: var(--light-buttons);
    font-weight: bold;
  }
  a:visited {
    text-decoration: none;
    color: var(--light-buttons);
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  a:active {
    text-decoration: none;
    color: var(--bs-success);
    font-weight: bold;
  }
}
@media screen and (min-width: 576px){
   #search_default {
    max-width: 300px;
    min-width: 200px;

  }
  a:link {
    text-decoration: none;
    color: var(--light-buttons);
    font-weight: bold;
  }
  a:visited {
    text-decoration: none;
    color: var(--light-buttons);
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  a:active {
    text-decoration: none;
    color: var(--bs-success);
    font-weight: bold;
  }

  footer {
    position: absolute;
    border-left: 2000px;
  }
  hr.name {
    border-top: 3px solid black;
    opacity: 100%;
  }
  hr.separate {
    border-top: 3px solid grey;
    opacity: 100%;
  }
  ul {
    list-style-type: square;
    font-size: larger;
    font-weight: bold;
  }
  .other {
    flex: 1;
    position: relative;
    background-color: var(--light);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    left: 700px;
    top: 100px;
    opacity: .5;
    width: 650px;
    height: 300px;
    /* justify-content: center; */
  }
  .link {
    /* border-style: solid; */
    border: 5px solid var(--light-blue);
    /* border-width: 1px; */
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 400px;
    display: flex;
    flex-wrap: wrap;
    /* background-image: url(../images/iStock-1224500457.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    margin: 25px;
  }
  .other.link header
  ,.other2.link header {
    position: absolute;
    justify-content: left;
    align-items: flex-start;
    padding: 20px 20px 20px 30px;
    background-color: var(--light-blue);
    color: black;
    top: 180px;
    left: -5px;
    font-weight: bolder;
    font-size: 20px;
  }
  section.link:hover {
    opacity: 1;
  }
  section.linksmart {
    cursor: pointer;
  }
  #img4 {
    background-image: url(./images/techSolutions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #img2 {
      background-image: url(./images/problemSolving.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
}

@media screen and (max-width: 576px){
  #search_default {
     margin-top: 80px;
  }

  div.row {
  display: flex;
  flex-wrap: wrap-reverse;
 }

}